<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="FileLogger" />
    <appender-ref ref="ConsoleLogger" />
  </root>
  <appender name="FileLogger" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/logs.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss} [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="ConsoleLogger" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss} %level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>
